<template>  
    <section class="container">
      {{ query }}
      <div class="item">
        <label class="font-white">Busque por artistas, álbuns ou músicas:</label>
      </div> 
      <div class="item div-border-bottom">
          <input style="background: black" class="font-white" label="Material input" v-model="search" placeholder="Comece a escrever">
          <div class="search-wrapper">        
      </div>
      </div> 
      <div class="wrapper">    
        <span v-if="this.$store.getters.getAlbums">           
          <tr
            v-for="(album, id) in this.$store.getters.getAlbums.items"
            :key="id"        
            class="box-shadow-hover pointer f-14-300-gray"        
          >      
          <td class="font-white">
            {{ album.name }}  
          </td>
          </tr>
        </span>  
      <span v-if="this.$store.getters.getTracks"> 
        <tr
        v-for="(track, id) in this.$store.getters.getTracks.items"
        :key="id"        
        class="box-shadow-hover pointer f-14-300-gray"        
        >      
        <td class="font-white">
        {{ track.name }}
        </td>
        </tr>
      </span>  
      </div>
    </section>
</template>

<script>
import { mdbInput } from 'mdbvue';

export default {
  components: { 
    mdbInput
  },
    data() {
      return {
        search: undefined
      }
     },
  methods: {
    processInput: function(selection){ }
  },
  created() {
  },
  computed: {
    query() {
      if (this.search != undefined) {
        this._findByTrackAndAlbum(this.search);        
      }      
    },
    tracks() {
    },
    albums() {      
    }  
  }
}
</script>

<style>

input {
    border: none;
    background-color: transparent;
    font-family: "lineto-circular-black";
 }

.div-border-bottom{
  border: none;  
  outline-width: 1;
  border-bottom: 1px solid #75d46b;
}
input[type="text"], textarea {
  text-decoration: underline;
  background-color : #d1d1d1; 
  font-family: "segoe ui";
  font-size: 20px;
  height: 20px;
  padding: 0px;
  margin: 0px;
  outline: 1px;
  border: 2px;
  outline-width: 2;
}

textarea:focus, input:focus{
    outline: 1px;
}
/* Flex */
.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-item-1 {
	flex: 1;
}

/* Flex Item */
.item {
	margin: 5px;
	text-align: left;
	font-size: 1.5em;
}

.container {
	max-width: 85%;
	margin: 0 auto;	
}

h1 {
	text-align: cenleftter;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

body{
  background: black;
}

.font-white {
  color: white;
}
 
</style>